html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
 padding:0;
margin:0;
max-width:100%;

}
body{
    background-color:#FDFD96;
}

h1{
font-size:55px;
font-family:'Chelsea Market',cursive;
margin-left:20px;
margin-top:20px;
background-color:#FDFD96;
color:lightpink;
}
nav .Links{
    display:flex;
justify-content: space-between;
margin-left:20px;

}
nav a{
    font-size:30px;
    text-decoration: none;
   width:50%;
   font-family:'Chelsea Market',cursive;
}
a{
    color:lightsalmon;
    background-color: #FDFD96;
}
#main{
    display:flex;
justify-content: center;
  }
.IntroImage img{
width:55%;
border-radius:500px;
margin-top:45px;
margin-left:100px;
}
.IntroText h2{
    font-size:48px;
    font-family:'Chelsea Market',cursive;
}
.IntroText{
    display:flex;
    flex-direction: column;
   width:55%;
   margin-top:5%;
   margin-right:5%;
    
    font-family:'Chelsea Market',cursive;
    
}
#thumbnails{
    display:flex;
  flex-flow:wrap;
  justify-content: space-evenly;
  font-family:'Chelsea Market',cursive;
  margin-top:5%;
}
#thumbnails img{
    height:200px;
    width:200px;
    object-fit: cover;
}

  #ttwo{
      display:flex;
      flex-flow:wrap;
      justify-content: space-evenly;
      font-family:'Chelsea Market',cursive;
  }
  #ttwo img{
      width:200px;
      height:200px;
      object-fit: cover;
  }
 
     
     footer{
        font-family:'Chelsea Market',cursive;
     }
 
  footer h3{
      font-size:28px;
      text-align:center;
      margin-top:2.5%
     
  }
footer button{
    display:flex;
    margin-left:44.25%;
    font-size:25px;
    text-align: center;
    font-family:'Chelsea Market',cursive;
}


@media(max-width:500px){
   h1{
       font-size:40px;
       text-align: center;
   }
   nav .Links{
       display:flex;
       flex-direction: column;
      
       
   }
   nav{
       display: flex;
       justify-content: center;
   }
   .IntroImage img{
       width:150%;
   }
  .IntroText h2 {
      display:flex;
   justify-content: center;
   font-size:30px;
   margin-top:-50px;
   padding-right:800px;
   padding-top:300px;
  }
.mainButton{
   margin-left:-50px;
   
}
.IntroText p{
    margin-left:-85px;
}
#thumbnails img{
    width:90px;
    height:90px;
}
#ttwo img{
    width:90px;
    height:90px;
}

#thumbnails p{
    width:50%;
}
#ttwo p{
    width: 50%;
}

#thumbnail{
    display: flex;
    justify-content: left;
}
}